.root{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto !important;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.cardsbody{
    margin-bottom: 2%!important;
}
.Col{
    margin: auto;
    margin-bottom: 6%;
   
}
@media(max-width:1285px){
    .root{
        width: 80%;
    }
}
@media (max-width: 550px) {
    .root {
     width: 95%;
    }}