
.cardsContainer{
 /*  margin-top: 10%!important; */
}
.cardstexts{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cardImgTop{
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
.buttonRow{
  width: max-content;
  margin: auto;
}
.departmentsTitle{
  font-family: 'lemon';
  font-size: 3vw;
  text-align: center;
}
.cardCol{
  padding: 1%;
  margin-top: 2%;
}
.cardImage{
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
.cardsbody{
  min-height: 500px;

  
}
.card-text ,.cardtext1{
  text-align: justify;
}
.card-title{
  font-family: 'lemon';
  font-size: 25px;
}
.cardLinks{
  margin-right: 0
}
.buttonCol{    text-align: center;
  margin-top: 20%;}
.bodyWidth {
  width: 67% !important;
  margin: auto;
}
body {
  background: rgb(255, 255, 255);
}
@media (max-width: 1470px) {

  .cardsbody{
    min-height: auto;
  
    
  }
 .card-title{
   font-size:18px;
 }
}
@media(max-width:1245px){
  .card-title{
    font-size: 16px;
  }
}

/* @media (min-width: 1471px) {

  .collapseIcon{
   display: none; 
  }
} */

@media (max-width:992px){
  .cardImgTop{
   height: 28vw;
   
  }
}
@media (max-width:940px){
  .card-title{
    font-size: 14px;
  }
  .cardImage{
    width: 100%;
    height: 33vw;
    object-fit: cover;
  }
}
@media (max-width:860px){
  .card-title{
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .cardsbody {
    width: 100%;
    margin: auto;
   
  }
  .card-body {
    font-size: 15px;
  }
  .card-title {
    font-size: 17px;
  }
  .departmentsTitle{font-size: 25px}
 
  
  
}
@media(max-width:670px){
  .card-title{
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .bodyWidth {
    width: 92%!important;
  }

  .cardImage{
    width: 100%;
    height: 32vw;
    object-fit: cover;
  }
}

/* .card-title {
  font-size: 1.8vw;
} */
.rowup {
  
  /*  justify-content: center; */
}

.cardsbody {
  font-size: var(--system-size-7)!important;
  width: 100%;
  margin: auto;

  /* margin: 1rem;
    margin-left: 0; */
  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: 10px;
}
.cardsbody:hover {
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 25%);
  transition: box-shadow 0.4s;
}
.cardsMiddleContainer {
  margin: auto;
}
.card-body:hover {
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 16%);
  transition: box-shadow 0.4s;
}
.cardsContainer {
  width: 100%;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

/* @media (max-width:1150px){
  .cardsbody{
    margin: 0.5rem;
  }
} */

@media (max-width: 575px) {
  .card-body {
    font-size: 16px;
  }
  .card-title {
    font-size: 20px;
  }
  .cardImage{
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }
 
}
@media (max-width: 485px) {
  .card-body {
    font-size: 16px;
  }
  .card-title {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .card-body {
    font-size: 16px;
  }
  .card-title {
    font-size: 16px;
  }
}
.cardCollapse{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.close{
  transition: transform 250ms ease-out, color 250ms;  
}
.open{
  transition: transform 250ms ease-out, color 250ms; 
  transform: rotate(180deg);

}

