@import url(./fonts.css);

.notfound{
    font-family: 'Lemon';
 text-align: center;
    font-size: 5vw;
    margin-top: 200px;
    width: 50%;
    margin: auto;
}
.divb{
    height: 20vh;
}
.mainNotFound{
    margin:auto;
}
.LinkHome{
    color: #ffc41d;;
    text-decoration: none;
}
.LinkHome:hover{
    color: #212529;
    text-decoration: none;
}